# Ignore all contents of the build directory but keep the directory itself
/build/*
!/build/.gitkeep  # This will ensure the directory is not empty and can be tracked

# Ignore all contents of the lib directory but keep the directory itself
/lib/*
!/lib/.gitkeep  # This will ensure the directory is not empty and can be tracked
/test
